<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<table class="howto_table">
	<tbody>
		<tr>
			<td class="sidebar_cell">
			<table class="sidebar_menu">
				<tbody>
					<tr>
						<td>
						<ul>
							<li>
								<a href="how_to_make.html">Materials Needed</a>
							</li>
							<li>
								<a href="coloring.html">Coloring Your Rope</a>
							</li>
							<li>
								<a href="cutting.html">Cutting Your Rope</a>
							</li>
							<li>
								<a href="braiding1.html" class="sidebar_menu_this">Braiding</a>
								<ul>
									<li>
										<a href="braiding1.html">Step 1</a>
									</li>
									<li>
										<a href="braiding2.html">Step 2</a>
									</li>
									<li>
										<a href="braiding3.html">Step 3</a>
									</li>
									<li>
										<a href="braiding4.html" class="sidebar_menu_this">Step 4</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="handles.html">Handle Options</a>
							</li>
							<li>
								<a href="popper.html">Making A Popper</a>
							</li>
						</ul></td>
					</tr>
				</tbody>
			</table></td>

			<td class="howto_details">
				<div class="textbox_header">Braiding - Step 4</div>
				<p>
					By now you're probably figured out what you're to do next.  Like before, keep braiding your three free 
					ends until they are the same length as Rope E's free ends.
				</p>
				<%= image_tag("whip.png") %>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					Place Rope E underneath of your braided whip so that Rope E's free ends are now running parallel to the 
					two outermost free ends, as shown.  You should now have three free ends that consist of three strands 
					of rope each.  Just like in the previous steps, you will treat each set of parallel strands as a single 
					"free end."  Continue braiding as you did before.
				</p>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_images" >
				<%= image_tag("braid_abcde1.png") %>
				<%= image_tag("braid_abcde2.png") %>
				<%= image_tag("braid_abcde3.png") %>
				<%= image_tag("braid_abcde4.png") %>
				<%= image_tag("braid_abcde5.png") %>
				<%= image_tag("braid_abcde6.png") %>
				<%= image_tag("braid_abcde7.png") %>
				<%= image_tag("braid_abcde8.png") %>
			</td>
		</tr>
	</tbody>
</table>

<table class="prev_next_table">
	<tbody>
		<tr>
			<td class="spacer"></td>
			<td class="prev_step"><a href="braiding3.html"><- Prev. Step</a></td>
			<td class="next_step"><a href="handles.html">Next Step -></a></td>
			<td class="spacer"></td>
		</tr>
	</tbody>
</table>