<% if notice %>
<p id="notice">
	<%= notice %>
</p>
<% end %>

<table class="howto_table">
	<tbody>
		<tr>
			<td class="sidebar_cell">
			<table class="sidebar_menu">
				<tbody>
					<tr>
						<td>
						<ul>
							<li>
								<a href="materials.html">Materials Needed</a>
							</li>
							<li>
								<a href="coloring.html">Coloring Your Rope</a>
							</li>
							<li>
								<a href="cutting.html">Cutting Your Rope</a>
							</li>
							<li>
								<a href="braiding1.html" class="sidebar_menu_this">Braiding</a>
								<ul>
									<li>
										<a href="braiding1.html">Step 1</a>
									</li>
									<li>
										<a href="braiding2.html" class="sidebar_menu_this">Step 2</a>
									</li>
									<li>
										<a href="braiding3.html">Step 3</a>
									</li>
									<li>
										<a href="braiding4.html">Step 4</a>
									</li>
									<li>
										<a href="braiding5.html">Step 5</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="handles.html">Handle Options</a>
							</li>
							<li>
								<a href="popper.html">Making A Popper</a>
							</li>
						</ul></td>
					</tr>
				</tbody>
			</table></td>

			<td class="howto_details" colspan="2">
				<div class="textbox_header">Step 2</div>
				<p>
					As you continue braiding, you will notice that the three free ends will shorten.  Continue 
					to braid Ropes A & B until the lengths of their free ends are the same length as Rope C's 
					free ends.
				</p>
			</td>
			<td class="howto_img"><%= image_tag("whip.png") %></td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details" colspan="2">
				<p>
					Add Rope C to the braid and continue braiding, as shown.
				</p>
			</td>
			<td class="howto_img"><%= image_tag("whip.png") %></td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details" colspan="2"></td>
			<td class="howto_img"><%= image_tag("whip.png") %></td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details" colspan="2"></td>
			<td class="howto_img"><%= image_tag("whip.png") %></td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details" colspan="2"></td>
			<td class="howto_img"><%= image_tag("whip.png") %></td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details" colspan="2"></td>
			<td class="howto_img"><%= image_tag("whip.png") %></td>
		</tr>

		<tr>
			<td></td>
			<td class="prev_step"><a href="braiding1.html"><- Prev. Step</a></td>
			<td class="next_step"><a href="braiding3.html">Next Step -></a></td>
			<td></td>
		</tr>
	</tbody>
</table>