<table class="howto_table">
	<tbody>
		<tr>
			<td class="sidebar_cell">
			<table class="sidebar_menu">
				<tbody>
					<tr>
						<td>
						<ul>
							<li>
								<a href="how_to_make.html">Materials Needed</a>
							</li>
							<li>
								<a href="coloring.html">Coloring Your Rope</a>
							</li>
							<li>
								<a href="cutting.html">Cutting Your Rope</a>
							</li>
							<li>
								<a href="braiding1.html">Braiding</a>
								<ul>
									<li>
										<a href="braiding1.html">Step 1</a>
									</li>
									<li>
										<a href="braiding2.html">Step 2</a>
									</li>
									<li>
										<a href="braiding3.html">Step 3</a>
									</li>
									<li>
										<a href="braiding4.html">Step 4</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="handles.html" class="sidebar_menu_this">Handle Options</a>
							</li>
							<li>
								<a href="popper.html">Making A Popper</a>
							</li>
						</ul></td>
					</tr>
				</tbody>
			</table></td>

			<td class="howto_details">
				<div class="textbox_header">Handle Options</div>
				<p>
					By now you'll have braided your whip completely, and now you need to do something to keep the braid from 
					coming undone.  For the time being, use your clamp or a heavy book to hold the strands of your whip in 
					place.  It's time to decide how you want to bind the handle of your whip.
				</p><br />
				
				<div class="textbox_header">Tape - The Simple Handle Solution</div>
				<p>
					The simplest handle option is to use some kind of tape.  Any kind of durable tape will do - electrical 
					tape or duct tape will do fine in a pinch.  For a nicer handle, consider using grip tape.  Grip tape can 
					be found at any sports equipment store and comes in many different colors.   
				</p>
				<p>
					<b>NOTE</b> - if you plan on washing your whip, a tape handle may not be suitable for your whip.  See the 
					<a href="whipcare.html">Whip Care</a> section for more details.
				</p>
			</td>

			<td class="howto_img"><%= image_tag("whip.png") %></td>
		</tr>
	</tbody>
</table>

<table class="howto_table">
	<tbody>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					When applying tape to your whip, start wrapping your tape around the bottom of your whip and wind it 
					upward.  Be sure that you wrap the tape tightly.  Wrap the bottom six inches of your whip with tape to 
					ensure that the braided rope will not come undone.
				</p>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_images" >
				<%= image_tag("handle1.png") %>
				<%= image_tag("handle2.png") %>
				<%= image_tag("handle3.png") %>
				<%= image_tag("handle4.png") %>
			</td>
		</tr>
	</tbody>
</table>

		
<table class="howto_table">
	<tbody>		
<!--		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					Once you've finished your whip handle, it's time to clean up the rope strands at the bottom of your handle.  
					Gently pull down the outer nylon wrapping of each rope strand to expose the core filling.  Use scissors to  
					trim down the core fillings as close to the bottom of your whip handle as possible.  Do this for all nine 
					rope strands.
				</p>
			</td>
			<td class="howto_img"><%= image_tag("whip.png") %></td>
		</tr>
-->		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					Use scissors to trim the rope strands to a desired even length.  If you leave the rope strands as-is, they 
					will eventually begin to fray into a soft, brush-like tip.  If you don't want the bottom of your whip 
					handle to brush against your arm as you use it, you can use your butane lighter to melt the rope strands 
					down.
				</p>
				<%= image_tag("handle5.png") %>
			</td>
		</tr>
	</tbody>
</table>
<br />

<table class="howto_table">
	<tbody>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<div class="textbox_header">Twine Corset Handle - A Nicer Handle Option</div>
				<p>
					If you're looking for something a little nicer-looking than tape, you could consider doing a twine corset 
					handle.  It takes more time to do than simply taping up your whip, but it looks great and will not come undone 
					if you throw your whip in the washer (assuming you've done it correctly, of course).
				</p>
				<p>
					This section will be filled out once I've created the step-by-step images of this whip handle.  Check back 
					later!
				</p>
			</td>
		</tr>
	</tbody>
</table>

<table class="prev_next_table">
	<tbody>
		<tr>
			<td class="spacer"></td>
			<td class="prev_step"><a href="braiding4.html"><- Prev. Step</a></td>
			<td class="next_step"><a href="popper.html">Next Step -></a></td>
			<td class="spacer"></td>
		</tr>
	</tbody>
</table>