<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<table class="howto_table">
	<tbody>
		<tr>
			<td class="sidebar_cell">
			<table class="sidebar_menu">
				<tbody>
					<tr>
						<td>
						<ul>
							<li>
								<a href="how_to_make.html">Materials Needed</a>
							</li>
							<li>
								<a href="coloring.html">Coloring Your Rope</a>
							</li>
							<li>
								<a href="cutting.html">Cutting Your Rope</a>
							</li>
							<li>
								<a href="braiding1.html">Braiding</a>
								<ul>
									<li>
										<a href="braiding1.html">Step 1</a>
									</li>
									<li>
										<a href="braiding2.html">Step 2</a>
									</li>
									<li>
										<a href="braiding3.html">Step 3</a>
									</li>
									<li>
										<a href="braiding4.html">Step 4</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="handles.html">Handle Options</a>
							</li>
							<li>
								<a href="popper.html" class="sidebar_menu_this">Making A Popper</a>
							</li>
						</ul></td>
					</tr>
				</tbody>
			</table></td>

			<td class="howto_details">
				<div class="textbox_header">Making A Popper</div>
				<p>
					The last thing that your whip needs now is a popper.  The popper is a replaceable part of your whip that 
					is responsible for producing that sharp tell-tale crack that whips make.  When a whip is cracked the 
					popper is accelerated to 900+ m.p.h., breaking the sound barrier and creating a sonic boom.  The whip is 
					the first man-made object to break the sound barrier.  So let's get going and finish our whip, shall we? 
				</p>
				<%= image_tag("whip.png") %>
			</td>
			<td class="howto_img"><%= image_tag("whip.png") %></td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<div class="textbox_header">Preparing The Tip Of Your Whip</div>
				<p>
					First, we must prepare the tip of our whip for the installation of the popper.  Grab hold of the core 
					filling in the tip of Rope A, and gently slide down the nylon braiding as shown.  You want to expose the 
					halfway point between the tip of the core filling and the point where Rope B is braided with Rope A.  
					Use scissors to cut	the core filling at this halfway point, and then gently extend the rope braiding 
					back to full length.
				</p>
			</td>
			<td class="howto_img"><%= image_tag("whip.png") %></td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					Use your butane lighter to melt the tip of your whip - torch the first inch of Rope A to ensure that it 
					doesn't become frayed over time.  Before the tip cools off, use your pliers to pinch the tip of your whip 
					shut.  If the tip of your whip takes on a fan-like shape when it cools, feel free to trim the side edges 
					to keep the tip of your whip at a consistent width.
				</p>
			</td>
			<td class="howto_img"><%= image_tag("whip.png") %></td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<div class="textbox_header">..And Now The Popper</div>
				<p>
					Take your 5-ft. length of Twisted Mason Line and pass it through a secured loop somewhere in your work 
					area.  This can be anything from a door knob to a handle on your dresser or even a table leg.  Grab both 
					ends of your Twisted Mason Line and secure them with your forceps (or use a mini binder clip).
				</p>
			</td>
			<td class="howto_img"><%= image_tag("whip.png") %></td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					Begin twisting your forceps in the same direction that the Twisted Mason Line is twisted in.  The Mason  
					Line should start getting tighter as you twist your forceps.  Be sure to pull back on the Mason Line as  
					you're twist your forceps; you want to keep the Mason Line taut so that it doesn't start to develop kinks 
					in itself while you're working.
				</p>
			</td>
			<td class="howto_img"><%= image_tag("whip.png") %></td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					Keep twisting until your Mason Line is very tight.  When you see kinks developing in your Mason Line by 
					moving your forceps towards the opposite end of the Mason Line, you know you're ready for the next step.
				</p>
			</td>
			<td class="howto_img"><%= image_tag("whip.png") %></td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					Grab a stray length of string that you may have lying around, and place it on the halfway point along the 
					length of your tightened Mason Line.  Grab hold of this string with your free hand, and gently pull it 
					down while simultaneously touching your forceps to the opposite end of your Mason Line.  You want to keep 
					the Mason Line taut on either side of the string that now sits at the Mason Line's midpoint.
				</p>
			</td>
			<td class="howto_img"><%= image_tag("whip.png") %></td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					You'll notice that the Mason Line will want to start twisting around itself at its halfway point where 
					your stray length of string is located.  Allow the Mason Line to twist around itself a few times while 
					your forceps are still touching the other end of the Mason Line.  After the Mason Line twists around 
					itself a few times, 
				</p>
			</td>
			<td class="howto_img"><%= image_tag("whip.png") %></td>
		</tr>
	</tbody>
</table>

<table class="prev_next_table">
	<tbody>
		<tr>
			<td class="spacer"></td>
			<td class="prev_step"><a href="handles.html"><-Prev. Step</a></td>
			<td class="next_step"></td>
			<td class="spacer"></td>
		</tr>
	</tbody>
</table>