<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<table class="howto_table">
	<tbody>
		<tr>
			<td class="sidebar_cell">
			<table class="sidebar_menu">
				<tbody>
					<tr>
						<td>
						<ul>
							<li>
								<a href="how_to_make.html">Materials Needed</a>
							</li>
							<li>
								<a href="coloring.html">Coloring Your Rope</a>
							</li>
							<li>
								<a href="cutting.html">Cutting Your Rope</a>
							</li>
							<li>
								<a href="braiding1.html">Braiding</a>
								<ul>
									<li>
										<a href="braiding1.html">Step 1</a>
									</li>
									<li>
										<a href="braiding2.html">Step 2</a>
									</li>
									<li>
										<a href="braiding3.html">Step 3</a>
									</li>
									<li>
										<a href="braiding4.html">Step 4</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="handles.html">Handle Options</a>
							</li>
							<li>
								<a href="popper.html" class="sidebar_menu_this">Making A Popper</a>
							</li>
						</ul></td>
					</tr>
				</tbody>
			</table></td>

			<td class="howto_details">
				<div class="textbox_header">Making A Popper</div>
				<p>
					The last thing that your whip needs now is a popper.  The popper is a replaceable part of your whip that 
					is responsible for producing that sharp tell-tale crack that whips make.  When a whip is cracked the 
					popper is accelerated to 900+ m.p.h., breaking the sound barrier and creating a sonic boom.  The whip is 
					the first man-made object to break the sound barrier.  So let's get going and finish our whip, shall we? 
				</p>
			</td>
			<td class="howto_img"><%= image_tag("finishedpopper.png") %></td>
		</tr>
	</tbody>
</table>

<table class="howto_table">
	<tbody>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<div class="textbox_header">Preparing The Tip Of Your Whip</div>
				<p>
					First, we must prepare the tip of our whip for the installation of the popper.  Grab hold of the core 
					filling in the tip of Rope A, and gently slide down the nylon braiding as shown.  You want to expose the 
					halfway point between the tip of the core filling and the point where Rope B is braided with Rope A.  
					Use scissors to cut	the core filling at this halfway point, and then gently extend the rope braiding 
					back to full length.
				</p>
			</td>
		</tr>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_images" >
				<%= image_tag("popper1.png") %>
				<%= image_tag("popper2.png") %>
				<%= image_tag("popper3.png") %>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					Use your butane lighter to melt the tip of your whip - torch the first inch of Rope A to ensure that it 
					doesn't become frayed over time.  Before the tip cools off, use your pliers to pinch the tip of your whip 
					shut.  If the tip of your whip takes on a fan-like shape when it cools, feel free to trim the side edges 
					to keep the tip of your whip at a consistent width.
				</p>
			</td>
		</tr>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_images" >
				<%= image_tag("popper4.png") %>
				<%= image_tag("popper5.png") %>
				<%= image_tag("popper6.png") %>
				<%= image_tag("popper7.png") %>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<div class="textbox_header">..And Now The Popper</div>
				<p>
					Take your 5-ft. length of Twisted Mason Line and pass it through a secured loop somewhere in your work 
					area.  This can be anything from a door knob to a handle on your dresser or even a table leg.  Grab both 
					ends of your Twisted Mason Line and secure them with your forceps (or use a mini binder clip).
				</p>
			</td>
		</tr>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_images" >
				<%= image_tag("popper8.png") %>
				<%= image_tag("popper9.png") %>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					Begin twisting your forceps in the same direction that the Twisted Mason Line is twisted in.  The Mason  
					Line should start getting tighter as you twist your forceps.  Be sure to pull back on the Mason Line as  
					you're twist your forceps; you want to keep the Mason Line taut so that it doesn't start to develop kinks 
					in itself while you're working.
				</p>
			</td>
		</tr>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_images" >
				<%= image_tag("popper10.png") %>
				<%= image_tag("popper11.png") %>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					Keep twisting until your Mason Line is very tight.  When you see kinks developing in your Mason Line by 
					moving your forceps towards the opposite end of the Mason Line, you know you're ready for the next step.
				</p>
			</td>
		</tr>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_images" >
				<%= image_tag("popper12.png") %>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					Grab a stray length of string that you may have lying around, and place it on the halfway point along the 
					length of your tightened Mason Line.  Grab hold of this string with your free hand, and gently pull it 
					down while simultaneously touching your forceps to the opposite end of your Mason Line.  You want to keep 
					the Mason Line taut on either side of the string that now sits at the Mason Line's midpoint.
				</p>
			</td>
		</tr>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_images" >
				<%= image_tag("popper13.png") %>
				<%= image_tag("popper14.png") %>
				<%= image_tag("popper15.png") %>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					You'll notice that the Mason Line will want to start twisting around itself at its halfway point where 
					your stray length of string is located.  Allow the Mason Line to twist around itself a few times while 
					your forceps are still touching the other end of the Mason Line.  
				</p>
			</td>
		</tr>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_images" >
				<%= image_tag("popper16.png") %>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					After the Mason Line twists around itself a few times, pull your forceps away from the other end of 
					the Mason Line.  Now loosen your free hand's grip on the stray length of string; the Mason Line will 
					continue twisting around itself as a result.  Use your free hand to guide the Mason Line as it twists 
					around itself, and slowly start moving your forceps back towards the other end of the Mason Line.  
					Your Mason Line will twist itself into a long "double-helix," as shown.  Now it's beginning to look 
					like a proper popper!
				</p>
			</td>
		</tr>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_images" >
				<%= image_tag("popper16.png") %>
				<%= image_tag("popper17.png") %>
				<%= image_tag("popper18.png") %>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					Measure the length of your twisted popper; you want the twisted length of your popper to be around 
					9-10 inches long.  Firmly grip the popper at the 9-10 inch point with your free hand; DO NOT allow 
					the popper to unravel itself below the point that you're gripping it!  If your popper unravels 
					itself at any point after this step, you will have to start all over again.
				</p>
			</td>
		</tr>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_images" >
				<%= image_tag("popper19.png") %>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					While maintaining a secure grip on your popper, detach your forceps from the Mason Line, and 
					clamp your forceps right above the point where your free hand is holding the popper.  This 
					will ensure that the popper will not unravel itself while you perform the next step.
				</p>
			</td>
		</tr>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_images" >
				<%= image_tag("popper20.png") %>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					The last thing we need to do is to secure the popper by tying a double-overhand knot (a.k.a. a 
					"blood knot") at its tip.  You do this by taking the two unsecured ends of your Mason Line that 
					are sticking out above your forceps, and bringing them downward towards the "double-helix" part 
					of the popper, and tying your double-overhand knot as shown.
				</p>
			</td>
		</tr>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_images" >
				<%= image_tag("popper21.png") %>
				<%= image_tag("popper22.png") %>
				<%= image_tag("popper23.png") %>
				<%= image_tag("popper24.png") %>
				<%= image_tag("popper25.png") %>
				<%= image_tag("popper26.png") %>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					Pull your loose ends tightly around the forceps to form the knot.  Next, remove the forceps and 
					finish tightening the knot as far as it will go.  Take your scissors, and cut the four strands 
					above your knot to the desired length.  Your popper is now complete!
				</p>
			</td>
		</tr>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_images" >
				<%= image_tag("popper27.png") %>
				<%= image_tag("popper28.png") %>
				<%= image_tag("popper29.png") %>
				<%= image_tag("popper30.png") %>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<div class="textbox_header">Attaching Your Popper</div>
				<p>
					We've prepped our whip's tip and we've made a popper.  Now let's put the two together.  Take your 
					forceps (or needle nose tweezers) and gently push it through the tip of your whip just below the 
					point where you melted it.
				</p>
			</td>
		</tr>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_images" >
				<%= image_tag("popper31.png") %>
				<%= image_tag("popper32.png") %>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					Open your forceps and clamp down on the looped end of your popper.  Gently pull the popper through 
					your whip's tip.  If there's a lot of resistance in trying to pull the popper through, try twisting 
					your forceps in the same direction as the popper's spiral.  This makes the popper act like a screw, 
					which will help out a lot in getting it to pass through the whip without incident.
				</p>
			</td>
		</tr>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_images" >
				<%= image_tag("popper33.png") %>
				<%= image_tag("popper34.png") %>
				<%= image_tag("popper35.png") %>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					Grab the looped end of your popper and open the loop by twisting against the popper's spiral.  Grab 
					the knotted end of the popper and pass it through this loop.
				</p>
			</td>
		</tr>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_images" >
				<%= image_tag("popper36.png") %>
				<%= image_tag("popper37.png") %>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					Lastly, pass the loop over the tip of your whip, and then pull the knotted end of your popper firmly.
				</p>
			</td>
		</tr>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_images" >
				<%= image_tag("popper38.png") %>
				<%= image_tag("popper39.png") %>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					Now your popper is attached, and your whip is completed!  Huzzah!!!
				</p>
			</td>
		</tr>
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_images" >
				<%= image_tag("popper40.png") %>
			</td>
		</tr>
	</tbody>
</table>

<table class="prev_next_table">
	<tbody>
		<tr>
			<td class="spacer"></td>
			<td class="prev_step"><a href="handles.html"><-Prev. Step</a></td>
			<td class="next_step"></td>
			<td class="spacer"></td>
		</tr>
	</tbody>
</table>