<!DOCTYPE html>
<html>
<head>
  <title>Quick Whips</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<div class="container">
		<header>
			<div class="logo">
			</div>
		</header>
	
		<nav>
			<ul class="navigation">
				<li><p><a href="index.html" >Home</a></p></li>
				<li><p><a href="howtomake_materials.html" >How To Make...</a></p></li>
				<li><p><a href="whipcare.html" >Whip Care</a></p></li>
				<li class="navigation_this" ><p><a href="store.html" class="navigation_a_this" >Buy One!</a></p></li>
				<li><p><a href="contact.html" >Contact</a></p></li>
			</ul>
		</nav>

<!-- Dynamic Content Section -->		
		<div id="main">
			<%= yield %>
		</div>
		
<!-- Footer Template Section -->		
		<footer>
			<div class="footer_div">
				&copy; 2013 Quick Whips.  All Rights Reserved.<br />
				All other trademarks are the property of their respective owners.
			</div>
				
			<nav>
				<div class="footer_div">
					<a href="contact.html" class="footer_first" >Contact</a><a href="products.html" class="footer_a" >Buy One!</a>
				</div>
			</nav>
		</footer>
	</div>
</body>
</html>
