<!DOCTYPE html>
<html>
<head>
  <title>Quick Whips</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<!--	
	<div id="columns">
		<div id="side">
			<ul>
				<li><a href="http://www....">Home</a></li>
				<li><a href="http://www..../howtomake_materials">How To Make...</a></li>
				<li><a href="http://www..../whipcare">Whip Care</a></li>
				<li><a href="http://www..../store">Buy One!</a></li>
				<li><a href="http://www..../contact">Contact</a></li>
			</ul>
		</div>
-->		
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
